<div class="mx-auto align-items-center justify-content-center vh-100">
  <h2 class="text-center pt-4">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mx-auto align-items-center justify-content-center text-center">
    <div class="field mx-auto d-flex flex-column align-items-center justify-content-center">
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control w-25" %>
    </div>

    <div class="field mx-auto d-flex flex-column align-items-center justify-content-center pt-3" >
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control w-25" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mx-auto align-items-center justify-content-center py-3">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions mx-auto align-items-center justify-content-center">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  
  <% end %>

  <div class="actions mx-auto align-items-center justify-content-center py-3">
    <%= render "devise/shared/links" %>
  </div>
  </div>
</div>
