<div class="mx-auto align-items-center justify-content-center text-center vh-100">
  <h2 class="pt-4">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mx-auto  d-flex flex-column align-items-center justify-content-center pt-3">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control w-25" %>
    </div>

    <div class="actions mx-auto align-items-center justify-content-center pt-3">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="actions mx-auto align-items-center justify-content-center pt-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
